{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='adrenaline') }}">
    <h2 class="quiz-h2">Adrenaline Quiz</h2>

    <div class="question">
        <p>1. How often do you experience intense passion, elevated moods, and strong physical attraction in a relationship?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Almost never feel these sensations.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">Experience these sensations now and then.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">These sensations are a frequent, vivid part of my interactions!</label><br>
    </div>

    <div class="question">
        <p>2. How inclined are you to seek adventurous experiences, embrace a sense of adventure, and take risks in a relationship?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Prefer stability and predictability, steering clear of risks.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">Enjoy a mix, occasionally embracing adventurous moments.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">Often seek thrilling adventures and take significant risks.</label><br>
    </div>

    <div class="question">
        <p>3. How would you describe your usual state when with a partner? Are you more laid-back, or do you feel charged and ready to act spontaneously?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Generally more relaxed and measured in my actions.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">Experience a balance, with moments of energy and spontaneity.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Full of energy and often act on impulse, embracing the spontaneity.</label><br>
    </div>

    <div class="question">
        <p>4. How would you describe your emotional intensity, experiences of jealousy, and your approach to conflict resolution in a relationship?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">My emotions are typically under control and don't dictate how I handle disagreements.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Emotions influence me somewhat, but I strive for balanced resolutions.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">Intense emotions, including jealousy, often drive my reactions to conflicts.</label><br>
    </div>

    <div class="question">
        <p>5. How strong is your physical attraction to a partner and how deep is your emotional connection with them?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Limited physical attraction and shallow emotional connection.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">Good physical attraction and moderate emotional connection.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">Intense physical attraction and deep emotional connection.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

