{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='dopamine') }}">
    <h2 class="quiz-h2">Dopamine Quiz</h2>

    <div class="question">
        <p>1. How often do you feel a strong attraction or desire towards a romantic partner and obsess over them?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">I rarely feel a strong attraction or desire towards my romantic partner and seldom obsess over them.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">I sometimes feel attracted and desire my romantic partner but not obsessively.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">I frequently feel a deep attraction and desire towards my romantic partner and often find myself obsessing over them.</label><br>
    </div>

    <div class="question">
        <p>2. How often do you experience intense pleasure, happiness, or emotional highs in a relationship?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">I seldom experience intense pleasure, happiness, or emotional highs in my relationship.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I occasionally experience feelings of pleasure and happiness in my relationship, with some emotional highs.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">I regularly experience intense pleasure, euphoria, and strong emotional highs in my relationship.</label><br>
    </div>

    <div class="question">
        <p>3. How often do you seek rewarding experiences with a partner and engage in romantic fantasies or daydreams about them?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">I rarely seek rewarding experiences with my partner and seldom engage in romantic fantasies or daydreams about them.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">I sometimes seek rewarding experiences with my partner and occasionally indulge in romantic fantasies or daydreams about them.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">I often seek out rewarding experiences with my partner and frequently engage in romantic fantasies or daydreams about them.</label><br>
    </div>

    <div class="question">
        <p>4. How often do you take risks for love and act impulsively in your romantic relationship?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">I rarely take risks for love and seldom act impulsively in my romantic relationship.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">I sometimes take risks for love and occasionally act impulsively in my romantic relationship.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">I often take significant risks for love and frequently act impulsively in my romantic relationship.</label><br>
    </div>

    <div class="question">
        <p>5. How consistently do you feel a strong emotional attachment and motivation to invest in your romantic relationship, experiencing intense emotional responses?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">I seldom feel a strong emotional attachment or motivation to invest in my romantic relationship, and I experience mild emotional responses.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">I sometimes feel emotionally attached and motivated to invest in my relationship, with moderate emotional responses.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">I consistently feel a strong emotional attachment and am highly motivated to invest in my relationship, experiencing intense emotional responses.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}