{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='dopamine') }}">
    <h2 class="quiz-h2">Dopamine Quiz</h2>

    <div class="question">
        <p>1. How often do you find yourself intensely attracted to or desiring someone you're romantically interested in?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Almost never feel these intense attractions or desires.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">At times, I feel strong attraction or desire, but it's manageable.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">Regularly feel overwhelming attraction or desire, often thinking or obsessing about them.</label><br>
    </div>

    <div class="question">
        <p>2. How often do you experience intense pleasure, happiness, or emotional highs in a relationship?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Such feelings are rare for me in romantic contexts.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I occasionally experience this deep pleasure and joy.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">I regularly experience intense pleasure, euphoria, and strong emotional highs in my relationship.</label><br>
    </div>

    <div class="question">
        <p>3. How often do you seek gratifying experiences or daydream romantically about someone you're interested in?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Rarely chase such rewarding experiences or indulge in daydreams.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">Sometimes I find myself seeking pleasant moments or fantasizing romantically. </label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Often pursue enjoyable activities and frequently engage in romantic daydreams.</label><br>
    </div>

    <div class="question">
        <p>4. How often do you take risks for love and act impulsively in your romantic relationship?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">I tend to be cautious, rarely acting on impulse or taking risks.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Occasionally, I might decide spontaneously or take a moderate risk.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">I'm often impulsive and willing to take significant risks in the name of love.</label><br>
    </div>

    <div class="question">
        <p>5. Reflecting on your romantic connections, how often do you feel deeply attached and driven to nurture those relationships?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">I rarely feel deep attachment or a strong urge to commit intensely to a relationship.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">I sometimes experience a notable attachment and feel motivated to engage more deeply.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">I consistently feel a profound emotional attachment and am driven to invest emotionally in my relationships.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}