{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='estrogen') }}">
    <h2 class="quiz-h2">Estrogen Quiz</h2>

    <div class="question">
        <p>1. How would you describe your ability to empathize with a partner's emotions and respond sensitively to their emotional needs?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Rarely empathize or respond sensitively</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">Sometimes empathize and respond with moderate sensitivity</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">Often empathize deeply and respond with high sensitivity</label><br>
    </div>

    <div class="question">
        <p>2. How do you rate your communication style and capacity for nurturing behavior in a romantic relationship?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Communication is often closed, and nurturing behaviors are rare</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">Communication is moderately open, and some nurturing behaviors are evident</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">Communication is very open, empathetic, and nurturing behaviors are frequent</label><br>
    </div>

    <div class="question">
        <p>3. How deep is the emotional intimacy in a romantic relationship, and how much do you trust a partner?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Experience limited intimacy and trust</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">Experience a moderate level of intimacy and trust</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Experience deep intimacy and have complete trust</label><br>
    </div>

    <div class="question">
        <p>4. How effectively do you collaborate with your partner on challenges, and how stable are your emotional responses in a romantic relationship?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">Struggle with collaboration and frequently experience emotional instability</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Collaborate to some extent and have moderate emotional stability</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">Collaborate effectively and exhibit strong emotional stability</label><br>
    </div>

    <div class="question">
        <p>5. Considering aspects like empathy, communication, nurturing, and trust, how would you rate the overall quality of your emotional interactions and connection in a romantic relationship?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Emotional interactions are challenging, and connection is weak</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">Some positive emotional interactions and a moderate connection exist</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">Emotional interactions are strong, and a deep connection is present</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}