{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='norepinephrine') }}">
    <h2 class="quiz-h2">Norepinephrine Quiz</h2>

    <div class="question">
        <p>1. How often do you experience intense passion, thrilling adrenaline rushes, and strong physical attraction in a romantic relationship?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Rarely experience these feelings</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">Sometimes experience these feelings</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">Often experience these intense feelings</label><br>
    </div>

    <div class="question">
        <p>2. How frequently do you engage in risk-taking behaviors, remain highly vigilant about a romantic relationship dynamics, and act on impulses with a partner?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Seldom engage in risk-taking, remain vigilant, or act impulsively</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">Occasionally take risks, stay alert, and act on impulses</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">Regularly engage in risk-taking, are highly vigilant, and often act impulsively</label><br>
    </div>

    <div class="question">
        <p>3. How often do you feel anxious or jealous in a romantic relationship, or react with a fight-or-flight response during conflicts or perceived threats?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Rarely feel anxious or jealous and seldom react with fight-or-flight responses</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">Sometimes feel anxious or jealous and occasionally have fight-or-flight reactions</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Frequently feel anxious or jealous and often react with fight-or-flight responses</label><br>
    </div>

    <div class="question">
        <p>4. How would you describe your attachment style and the intensity of your emotions in a romantic relationship?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">Have a stable attachment style and experience moderate emotional intensity</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Have a somewhat anxious attachment style and experience varying emotional intensities</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">Have an anxious attachment style and experience high emotional intensity</label><br>
    </div>

    <div class="question">
        <p>5. How do you perceive your energy levels and emotional connection in a romantic relationship?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Tend to have low energy and feel a moderate emotional connection</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">Have variable energy levels and feel a good emotional connection</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">Consistently exhibit high energy and feel a deep emotional connection</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}