{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='norepinephrine') }}">
    <h2 class="quiz-h2">Norepinephrine Quiz</h2>

    <div class="question">
        <p>1. How often do you experience intense passion, thrilling adrenaline rushes, and strong physical attraction in a romantic relationship?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">It's a rare feeling for me.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">I experience this now and then.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">It's like my everyday romance novel!</label><br>
    </div>

    <div class="question">
        <p>2. How frequently do you engage in risk-taking behaviors, remain highly vigilant about a romantic relationship dynamics, and act on impulses with a partner?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">I usually play it safe and steady.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I'm open to spontaneity and a little risk here and there.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">I'm all in for a bit of thrill and unexpected turns!</label><br>
    </div>

    <div class="question">
        <p>3. How often do you feel anxious or jealous in a romantic relationship, or react with a fight-or-flight response during conflicts or perceived threats?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">I stay cool and collected, hardly ruffled.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">There are moments of tension, but I manage.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">I'm on an emotional rollercoaster, ready to react.</label><br>
    </div>

    <div class="question">
        <p>4. Reflecting on your connections, how would you characterize your emotional bond and depth in a romantic context?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">I maintain a balanced emotional keel and steady attachment.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">My feelings ebb and flow, with some intense moments.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">I'm deeply immersed, feeling every high and low intensely.</label><br>
    </div>

    <div class="question">
        <p>5. How do you perceive your energy levels and emotional connection in a romantic relationship?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">I'm more about calm waters than stormy seas.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">My energy matches the mood, sometimes calm, sometimes spirited.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">I'm buzzing with energy and deeply tuned in emotionally.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}