{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='oxytocin') }}">
    <h2 class="quiz-h2">Oxytocin Quiz</h2>

    <div class="question">
        <p>1. How often do you engage in affectionate behaviors, feel a strong sense of attachment, and experience deep partner bonding in a relationship?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Rarely engage in affectionate behaviors, feel attachment, or experience bonding.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">Sometimes engage in affectionate behaviors, feel a sense of attachment, and experience some bonding.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">Frequently engage in affectionate behaviors, feel a strong sense of attachment, and experience deep bonding.</label><br>
    </div>

    <div class="question">
        <p>2. How consistently do you trust a partner, empathize with their feelings, and feel secure in your attachment to them?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Seldom trust, empathize, or feel secure in attachment.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">Occasionally trust, empathize, and feel somewhat secure in attachment.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">Often trust, deeply empathize, and feel very secure in attachment.</label><br>
    </div>

    <div class="question">
        <p>3. How often do you experience open and honest communication, act generously, and feel a strong social connection with a partner?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Rarely communicate openly, act generously, or feel connected.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">Sometimes communicate openly, act with generosity, and feel a social connection.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Regularly communicate openly, act generously, and feel strongly connected.</label><br>
    </div>

    <div class="question">
        <p>4. How effectively do you reduce stress in a relationship, resolve conflicts amicably, and manage feelings of jealousy?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">Struggle to reduce stress, resolve conflicts, or manage jealousy.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Moderately effective at reducing stress, resolving conflicts, and managing jealousy.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">Highly effective at reducing stress, resolving conflicts peacefully, and controlling jealousy.</label><br>
    </div>

    <div class="question">
        <p>5. How frequently do you display nurturing behaviors, experience strong sexual desire, and are willing to take emotional risks in a relationship?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Rarely display nurturing behaviors, feel sexual desire, or take risks.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">Occasionally display nurturing behaviors, experience sexual desire, and take some risks.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">Often display nurturing behaviors, have strong sexual desire, and are willing to take significant risks.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}