{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='oxytocin') }}">
    <h2 class="quiz-h2">Oxytocin Quiz</h2>

    <div class="question">
        <p>1. How often do you engage in affectionate behaviors, feel a strong sense of attachment, and experience deep bonding in a relationship?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">It's pretty rare for me to feel this kind of closeness.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">I occasionally find myself experiencing these warm moments.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">I'm often in the heart of deep emotional bonding and closeness.</label><br>
    </div>

    <div class="question">
        <p>2. How consistently do you trust a partner, empathize with their feelings, and feel secure in your attachment to them?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Trust and deep empathy are somewhat foreign to me.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I experience moments of trust and empathy, building towards security.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">Trust and empathy are cornerstones of my interactions, fostering strong security.</label><br>
    </div>

    <div class="question">
        <p>3. How often do you experience open and honest communication, act generously, and feel a strong social connection with a partner?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Openness and generosity aren't really my forte.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">I'm open and giving from time to time, feeling a sense of connection.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">I thrive on being open-hearted, altruistic, and deeply connected with others.</label><br>
    </div>

    <div class="question">
        <p>4. How effectively do you reduce stress in a relationship, resolve conflicts amicably, and manage feelings of jealousy?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">I often find myself challenged by stress and conflicts.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">I'm fairly competent at maintaining peace and handling jealous feelings.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">I excel at creating a stress-free, harmonious environment, even in disputes.</label><br>
    </div>
 
    <div class="question">
        <p>5. How frequently do you display nurturing behaviors, experience strong sexual desire, and are willing to take emotional risks in a relationship?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Caregiving and exposing my sexual desires, and taking risks are not my usual behavior.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">I show care, express my sexual desires, and occasionally open up emotionally.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">I'm often nurturing, passionate, and bold in expressing my feelings and desires.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}