{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='serotonin') }}">
    <h2 class="quiz-h2">Serotonin Quiz</h2>

    <div class="question">
        <p>1. How consistently do you find yourself feeling emotionally balanced and calm in the context of romantic relationships?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">Emotional balance is hard to come by; I often feel overwhelmed.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">I sometimes achieve emotional balance and calmness, though not consistently.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">Emotional stability is a hallmark of my romantic experiences.</label><br>
    </div>

    <div class="question">
        <p>2. How often do you view a romantic relationship positively and feel a strong sense of self-worth?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Positivity is scarce, and I often question my self-worth.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I have moments of positivity and decent self-esteem in my romantic life.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">I consistently view my romantic interactions positively and feel good about myself.</label><br>
    </div>

    <div class="question">
        <p>3. How well do you manage impulsive decisions, engage socially, and communicate with clarity and effectiveness?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">Impulsive decisions are common, and effective communication is a struggle.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">I'm moderately impulsive but can sometimes engage well and communicate clearly.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">I make considered decisions, engage positively, and communicate effectively in romance.</label><br>
    </div>

    <div class="question">
        <p>4. How frequently do you experience deep empathy, close intimacy, and secure emotional attachment in your romantic relationships?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">Deep empathy and intimacy are challenging for me; I often feel disconnected.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">I occasionally experience these deep connections and feelings of security.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">I frequently enjoy deep empathy, intimate connection, and secure emotional bonds.</label><br>
    </div>

    <div class="question">
        <p>5. How effectively do you manage stress within a romantic relationship, support each other during stressful times, and maintain healthy relationship dynamics?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">Managing stress is a struggle, and the dynamics often feel strained.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">We sometimes manage stress well and support each other, maintaining a decent dynamic.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">We excel at stress management, consistently support each other, and nurture a positive relationship dynamic.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}