{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{{ url_for('show_quiz', hormone='vasopressin') }}">
    <h2 class="quiz-h2">Vasopressin Quiz</h2>

    <div class="question">
        <p>1. How strongly do you feel emotionally attached to a partner, committed to a long-term monogamous relationship, and secure in your romantic bond?</p>
        <input type="radio" id="question1_option1" name="question1" value="0">
        <label for="question1_option1">I rarely feel deeply attached or committed to long-term connections.</label><br>
        
        <input type="radio" id="question1_option2" name="question1" value="0.5">
        <label for="question1_option2">I experience a moderate level of attachment and commitment.</label><br>
        
        <input type="radio" id="question1_option3" name="question1" value="1">
        <label for="question1_option3">My attachment and commitment levels are intense, favoring long-lasting bonds.</label><br>
    </div>

    <div class="question">
        <p>2. How often do you experience strong feelings of trust towards a partner, a desire to protect them, and a deep sense of social connection with them?</p>
        <input type="radio" id="question2_option1" name="question2" value="0">
        <label for="question2_option1">Trust and protectiveness are not dominant traits in my relationships.</label><br>
        
        <input type="radio" id="question2_option2" name="question2" value="0.5">
        <label for="question2_option2">I exhibit a balanced sense of trust and protectiveness.</label><br>
        
        <input type="radio" id="question2_option3" name="question2" value="1">
        <label for="question2_option3">I am highly trusting, protective, and value strong social connections with partners.</label><br>
    </div>

    <div class="question">
        <p>3. How do you express assertiveness or dominance, especially in competitive situations or conflicts within romantic contexts?</p>
        <input type="radio" id="question3_option1" name="question3" value="0">
        <label for="question3_option1">I tend to avoid assertive or dominant roles in conflicts.</label><br>
        
        <input type="radio" id="question3_option2" name="question3" value="0.5">
        <label for="question3_option2">I display assertiveness or dominance occasionally in response to specific situations.</label><br>
        
        <input type="radio" id="question3_option3" name="question3" value="1">
        <label for="question3_option3">Assertiveness and dominance are pronounced aspects of my relational dynamics.</label><br>
    </div>

    <div class="question">
        <p>4. How intense is your sexual interest and activity within a romantic relationship, and how selective are you in choosing a romantic partner?</p>
        <input type="radio" id="question4_option1" name="question4" value="0">
        <label for="question4_option1">Have low sexual interest and activity, and not particularly selective.</label><br>
        
        <input type="radio" id="question4_option2" name="question4" value="0.5">
        <label for="question4_option2">Have moderate sexual interest and activity, and somewhat selective.</label><br>
        
        <input type="radio" id="question4_option3" name="question4" value="1">
        <label for="question4_option3">Have high sexual interest and activity, and very selective.</label><br>
    </div>

    <div class="question">
        <p>5. How consistent are you in managing your emotions and displaying nurturing behavior toward your partner?</p>
        <input type="radio" id="question5_option1" name="question5" value="0">
        <label for="question5_option1">I find emotional management challenging and am not prone to nurturing.</label><br>
        
        <input type="radio" id="question5_option2" name="question5" value="0.5">
        <label for="question5_option2">My emotional responses are moderately stable, and I sometimes exhibit nurturing behavior.</label><br>
        
        <input type="radio" id="question5_option3" name="question5" value="1">
        <label for="question5_option3">Emotional steadiness and nurturing are hallmark traits of my relationship approach.</label><br>
    </div>

    <button type="submit">Continue</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}